.item-card{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
}

.item-card > img{
    width: 100px;
}
.item-card h2{
    font-size: 30px;
    color: rgb(0, 128, 0);

}
.item-card:hover{
    transform: translate(15px);
    width: 350px;
    border: 5px solid black;
}
.ver_mas{
    color: black;
    font-size: 35px;
}