.item-card{
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    margin: 15px;
    padding: 5px;
}



.item-card > img{
    width: 100px;
}
.item-card h2{
    font-size: 30px;
}