

.container-cart{
    position: relative;
    cursor: pointer;
}

.span{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: red;
}