.navbar-container{
    width: 100%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #08a05ca4;
  background-image: linear-gradient(white,green);
}

.listado{
    display: flex;
    padding: 0;
    margin: 0;
}
.items-lista{
    padding: 0 1rem;
    list-style: none;
}

.lista-navbar{
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.lista-navbar:hover{
    color: #08a05ca4;
}